.container {
    background-color: var(--blue-dark);
    font-weight: 200;
    font-size: small;
    color: var(--gray-01);
    background: rgb(2, 0, 36);
    background: linear-gradient(153deg, rgba(2, 0, 36, 1) 0%, rgba(33, 0, 76, 1) 56%, rgba(0, 212, 255, 1) 100%);

}

.hero {
    max-height: calc(80vh - 58px);
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
}

nav ul {
    display: flex;
    gap: 0.5em;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--gray-01);
    border: transparent solid 1px;
    padding: 0.5em 1.5em;
    border-radius: 50px;
}

nav a:hover {
    border: var(--gray-01) solid 1px;
}

/* logo */

.logo {
    font-size:large;
}

/* Button */

.btn-container {
    display: flex;
    justify-content: center;
    margin-left: -25px;
    margin-top: 8vh;
}

.left-btn-wrapper, .right-btn-wrapper {
    border: var(--gray-01) solid 1px;
    background-color: var(--blue-dark);
    color: var(--gray-01);
    border-radius: 2em;
    font-weight: 200;
    position: relative;
    opacity: 0.5;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.left-btn-wrapper {
    z-index: 1;
    margin-left: 35px;
}

.right-btn-wrapper {
    margin-left: -35px;
    z-index: 2;
}

.active {
    z-index: 99;
    box-shadow: 1px 0px 3px 0px;
    opacity: 1;
}


.right-btn-wrapper:hover, .left-btn-wrapper:hover {
    background-color: var(--gray-01);
    color: var(--blue-dark);
    z-index: 100;
    opacity: 1;
}

.btn-container button {
    padding: 1em 4em;
    z-index: -1;
    border-radius: inherit;
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;

}

/* register nav button */

.register-button {
    background-color: var(--gray-01);
    color: var(--blue-dark);
    padding: 0.6em 1.5em;
    border-radius: 100px;
    transition: all 0.3s ease;
}

.register-button:hover {
    background-color: var(--blue-dark);
    color: var(--gray-01);
    font-weight: 400;
}

/* main content */

.content-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    padding-top: 8vh;
}

.content-container h1 {
    font-size: 5em;
    font-weight: 300;
    text-align: center;
    line-height: 1em;
}

.hero-text {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 3vh;
    font-size: medium;
    letter-spacing: 0.5px;
}

/* icons */

.icons-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 3vh;
    gap: 2em;
}

.tools-btn {
    width: 12em;
    margin: 0 auto;
    margin-top: 4vh;
    border-radius: 50px;
    padding: 1em 0;
    border: transparent solid 1px;
    transition: all 0.3s ease;
}

.tools-btn:hover {
    background: var(--blue-dark);
    color: var(--gray-01);
    border-color: var(--gray-01);
    cursor: pointer;
}

/* hero bottom - stats section */

.stats-wrapper {
    height: 20vh;
    background-color: var(--blue-dark-extra);
    margin-top: 5em;
    display: flex;
    gap: 5em;
    justify-content: center;
    align-items: center;
}

.stats-wrapper p {
    font-size: small;
    font-weight: 300;
}

.stats-wrapper span {
    font-size: 2.3em;
    padding-right: 0.2em;
    vertical-align: middle;
}